body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.dark {
    background-color: #333;
    color: white;
}

.connect-four {
    text-align: center;
}

#theme {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #142855;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.board {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    grid-template-rows: repeat(6, 80px); 
    gap: 5px; 
    background-color: #3b5998; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cell {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%; 
    cursor: pointer;
}

.dark {
    background-color: #333;
}

.player-1 {
    background-color: #F24333; 
}

.player-2 {
    background-color: #01BAEF;
}

.dark-player-1 {
    background-color: #BA1B1D;
}

.dark-player-2 {
    background-color: #2E294E;
}